.light-blue{
  margin-bottom: 20px;
  }
  // #start-game{
  //   display: none;
  // }
  input:invalid {
    border: 2px dashed red;
  }
  .is-invalid{
    border: 2px dashed red;
  }
  .is-valid{
    border: 2px solid rgb(20, 177, 6);
  }
  input:valid {
    border: 2px solid rgb(20, 177, 6);
  }
  .form-control{
    margin-top:20px;
  }
  #fileDisplayArea {
    // margin-top: 2em;

        width: 50px;
     height: 50px;
     margin-left: 10px;
     img {
      // max-width: 100%;
      width: 50px;
       height: 50px;
       object-fit: cover;
       height: 50px;
       border-radius: 50%;
       border: 1px solid #FFF;
       border-radius: 50%;
     }
   }
