* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
}

body {
 // background-color: rgb(62, 115, 119);
 //min-height: 100vh;
  //color: white;
   color: rgb(54, 51, 51);

}
main{
  min-height: calc(100vh- 2rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
  //flex-wrap: wrap;
}
footer{
  height: 2rem;
}

.title-form{
  color: black;
}
// .btn-start{
//   display: none;
// }
// .btn-stop{
//   display: none;
// }
.settings-output{
  padding-top: 30px;
  color:red;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.settings-output-green{
  padding-top: 30px;
  color:rgb(21, 105, 46);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.content-timer{
  width: 200px;
  color: #fff;
    background-color: #4494db;
    border-color: #6c757d;
    margin-top: 20px;
   margin-left: auto;
   display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}
