* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
}

body {
  background-color: rgb(62, 115, 119);
 //min-height: 100vh;
  color: white;

}
main{
  min-height: calc(100vh- 2rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
  //flex-wrap: wrap;
}
footer{
  height: 2rem;
}

