// .modal-content{
//   padding: 20px;
// }
// .form-control{
//   width: 420px;
//   margin: 20px 0;
// }
// input:invalid {
//   border: 2px dashed red;
// }

// input:valid {
//   border: 2px solid rgb(44, 173, 113);
// }
// .btn-container{
// display: flex;
// justify-content: space-around;
// }
input:invalid {
  border: 2px dashed red;
}
.is-invalid{
  border: 2px dashed red;
}
.is-valid{
  border: 2px solid rgb(20, 177, 6);
}
input:valid {
  border: 2px solid rgb(20, 177, 6);
}
.form-control{
  margin-top:20px;
}
